.bg-A {
      background-image: url(./assets/deal-bloom.png);
}

.bg-B {
      background-image: url(./assets/deal-ana.png);
}

.bg-C {
      background-image: url(./assets/deal-zabo.png);
}

.bg-join {
      background-image: url(./assets/news-letter-bg.png);
}